version: 2

jobs:
  build:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
         name: Build
         command: mvn -B -DskipTests clean package

  test:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
         name: Test
         command: mvn test

workflows:
  version: 2
  build:
    jobs:
      - build
      #- test:
      #   requires:
      #    - build
  test:
    jobs:
      - test:
          requires:
            - build