version: 2

jobs:
  build:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
         name: Build
         command: mvn -B -DskipTests clean package

  test:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - run:
         name: Test
         command: mvn test

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
         requires:
          - build